{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>掲示板</title>
    <link rel="stylesheet" href="{% static 'app13/css/style.css' %}" />
  </head>
  <body>
    <h1>掲示板</h1>
    <a href="{% url 'thread_create' %}">スレッド作成</a>

    <form action="{% url 'index' %}" method="get">
      <input
        type="text"
        name="search"
        placeholder="検索"
        value="{{ search_query }}"
      />
      <input type="submit" value="検索" />
    </form>
    <a href="{% url 'index' %}?sort=likes">いいね順にソート</a>
    <a href="{% url 'index' %}?sort=created_at">作成日時順にソート</a>
    <ul>
      {% for thread in threads %}
      <li>
        <a href="{% url 'thread_detail' pk=thread.pk %}">{{ thread.title }}</a>
        <p>作成日時: {{ thread.created_at }}</p>
        <p>いいね数: {{ thread.likes }}</p>
        <a href="{% url 'like_thread' pk=thread.pk %}">いいね！</a>
      </li>
      {% empty %}
      <li>スレッドがありません。</li>
      {% endfor %}
    </ul>
  </body>
</html>
